* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1000px;
  margin: auto;
}

img {
  width: 100%;
}

.cart {
  background-color: aqua;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.navbar-lists {
  height: 100%;
}

.navbar-lists ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-lists li {
  list-style: none;
}

.navbar-lists li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-lists li:hover {
  background-color: #555;
}

.toggle-button {
  height: 20px;
  width: 30px;
  top: 0.75rem;
  right: 1rem;
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: white;
}

@media (max-width: 800px) {
  .navbar {
    align-items: flex-start;
    flex-direction: column;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-lists {
    display: none;
    width: 100%;
  }

  .navbar-lists ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-lists ul li {
    text-align: center;
  }

  .navbar-lists ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

a {
  text-decoration: none;
  color: #a11212;
}

p {
  color: #171111;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 50px;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0px;
}

.header {
  background: radial-gradient(#9a9191, #81a0a1);
}

.btn {
  margin: 20px 0;
  padding: 10px 50px;
  border-radius: 30px;
  display: inline-block;
  background: firebrick;
  color: white;
  transition: background 0.3s;
}
.btn:hover {
  background: radial-gradient(#6f3232, #5e2929);
}

/* product styling */

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400rem;
  padding-bottom: 50px;
}

.feature {
  margin-top: 2rem;
  margin-bottom: 30px;
}

.feature-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 2.5rem;
}

.product-box {
  position: relative;
}
.product-box:hover {
  padding: 7px;
  border: 2.5px solid;
  transition: 0.4s;
}
